<ul class="activities">
  {{#each search_results}}
    <li class="activity">
      <div>
        <span class="name"><a href="/profile/{{this.person.id}}">{{this.person.display_name}}</a></span>
        {{#all this.person.primary_title this.person.primary_department}}<span class="title-dept">{{this.person.primary_title}}- <a href="/search?dept={{encodeURIComponent this.person.primary_department}}&page=1&perpage=10">{{this.person.primary_department}}</a></span>{{/all}}
      </div>
      <div>
        {{{this.full_description}}}
      </div>
    </li>
  {{else}}
    No Results Found
  {{/each}}
</ul>
{{{paginate page (lastpage total 10)}}}
