<div class="has-background search-again">
  <div class="fp-container">
    {{> facultyDepartmentSearch}}
  </div>
</div>
<div class="fp-container">
  <h1 class="page-title">Colleges / Departments</h1>
  <div class="panels">
    {{#each organization}}
      <div class="panel">
        <div class="panel-header"><a href="/search?college={{encodeURIComponent this.college}}&page=1&perpage={{../perpage}}">{{this.college}}</a></div>
        <div class="panel-body">
          <ul>
            {{#each this.departments}}
              <li><a href="/search?dept={{encodeURIComponent this}}&page=1&perpage={{../../perpage}}">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
</div>
