<div class="main-content">
  <div class="has-background return-to-profile">
    <div class="fp-container">
      <a href="/profile/{{netId}}">
        <div class="return-to-profile-contents">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <i class="fa fa-user-circle"></i>
          <div class="faculty-info">
            <div class="faculty-name">Back to {{content.person_info.display_name}}'s Profile</div>
            <div class="faculty-position">{{content.person_info.primary_title}} &mdash; {{content.person_info.primary_department}} </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="fp-container more-contents">
    <h1>Selected {{content.activity-title}}</h1>
    {{#each content.activities}}
      <div class="activity-year">{{this.year}}</div>
      <ul class="activity-list">
        {{#each this.items}}
          <li>{{{this.activity}}}</li>
        {{/each}}
      </ul>
    {{else}}
    No activities found
    {{/each}}
  </div>
</div>
