<div class="main-content">
  <div class="has-background return-to-profile">
    <div class="fp-container">
      <a href="/profile/{{facultyId}}">
        <div class="return-to-profile-contents">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <div class="profile-image" style="background-image: url({{#if profile_photo}}{{profile_photo}}{{else}}/images/userprofile-defaultimage.png{{/if}});">
            <span class="sr-only">{{content.person.display_name}}</span>
          </div>
          <div class="faculty-info">
            <div class="faculty-name">Back to {{content.person.display_name}}'s Profile</div>
            <div class="faculty-position">{{content.person.primary_title}} &mdash; {{content.person.primary_department}} </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="fp-container more-contents">
    <h1>{{content.activity_title}}</h1>
    {{#each content.activities}}
      <div class="activity-year">{{#ifeval this.year "==" "current"}}{{else}}{{this.year}}{{/ifeval}}</div>
      <ul class="activity-list">
        {{#each this.items}}
          <li>{{{this.full_description}}}</li>
        {{/each}}
      </ul>
    {{else}}
    No activities found
    {{/each}}
  </div>
</div>
