<div class="has-background search-again">
  <div class="fp-container">
    {{> facultyDepartmentSearch params=params}}
  </div>
</div>
<script language="javascript" src='/javascripts/templates/templates.js'></script>
<script>
  Handlebars.registerHelper('lastpage', helpers.lastpage);
  Handlebars.registerHelper('paginate', helpers.paginate);
  Handlebars.registerHelper('all', helpers.all);
  Handlebars.registerHelper('encodeURIComponent', helpers.encodeURIComponent);
</script>
<div class="fp-container indent">
  <div id="search-data" data-q="{{params.q}}" data-college="{{params.college}}" data-dept="{{params.dept}}" data-perpage={{params.perpage}}></div>
  {{#if departmentSearch}}
    <h1 class="search-results-title">Faculty Profiles for: <em>{{#if params.college}}{{params.college}}{{else if params.dept}}{{params.dept}}{{else}}All Colleges/Departments{{/if}}</em></h1>
    <div id="name" class="search-results" data-total={{results.total}}>
    {{> personSearchResult params=params total=results.total search_results=results.results}}
    </div>
  {{else}}
  <h1 class="search-results-title">Search results for: <em>{{params.q}}</em>
    {{#if params.dept }} in <em>{{params.dept}}</em>
    {{else if params.college }} in <em>{{params.college}}</em>{{/if}}
  </h1>
  <div id="tabs">
    <ul>
      <li class="row1"><a href="#name">Faculty Name</a></li>
      <li class="row1"><a href="#publication">Scholarly/ Creative Work</a></li>
      <li class="row2"><a href="#interest">Interests</a></li>
      <li class="row2"><a href="#grant">Grants</a></li>
      <li class="row2"><a href="#award">Awards</a></li>
      <li class="row2"><a href="#service">Service</a></li>
    </ul>
    <div id="name" class="search-results" data-total="{{results.name.total}}">
      {{> personSearchResult params=params total=results.name.total search_results=results.name.results}}
    </div>
    <div id="publication" class="search-results" data-total={{results.publication.total}}>
      {{> activitySearchResult params=params total=results.publication.total search_results=results.publication.results}}
    </div>
    <div id="interest" class="search-results" data-total={{results.interest.total}}>
      {{> activitySearchResult params=params total=results.interest.total search_results=results.interest.results}}
    </div>
    <div id="grant" class="search-results" data-total={{results.grant.total}}>
      {{> activitySearchResult params=params total=results.grant.total search_results=results.grant.results}}
    </div>
    <div id="award" class="search-results" data-total={{results.award.total}}>
      {{> activitySearchResult params=params total=results.award.total search_results=results.award.results}}
    </div>
    <div id="service" class="search-results" data-total={{results.service.total}}>
      {{> activitySearchResult params=params total=results.service.total search_results=results.service.results}}
    </div>
  </div>
  {{/if}}
</div>
