<div class="main-content">
  <div class="has-background search-again">
    <div class="">
      {{#if departmentSearch}}
        {{> facultyDepartmentSearch}}
      {{else}}
        <div class="faculty-search fp-container">
          {{> facultySearch}}
        </div>
      {{/if}}
    </div>
  </div>
  <div class="fp-container indent">
    {{#if departmentSearch}}
      <h1 class="search-results-title">Search results for: <em>{{department}}</em></h1>
    {{else}}
    <h1 class="search-results-title">Search results for: <em>{{term}}</em> {{#if department }} in <em>{{department}}</em>{{/if}}</h1>
    <div id="tabs">
      <ul>
        <li><a href="#faculty-name">Faculty Name</a></li>
        <li><a href="#scholarly-creative">Scholarly/ Creative Work</a></li>
        <li><a href="#interests">Interests</a></li>
        <li><a href="#grants">Grants</a></li>
        <li><a href="#awards">Awards</a></li>
      </ul>
      <div id="faculty-name"></div>
      <div id="scholarly-creative"></div>
      <div id="interests"></div>
      <div id="grants"></div>
      <div id="awards"></div>
    </div>
    {{/if}}
  </div>
</div>
